/bootstrap/compiled.php
/vendor
/node_modules
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/storage
/.idea
/.env
node_modules/
mysql/mysql.env
/Dockerfiles/phpmyadmin
/phpmyadmin
mysql/db
logs/*
!.gitkeep
/mysql
/data
*.php0

#CocoaPod
react-native/ios/Pods/*
